<p>Is anyone besides <%= current_viewer.name.capitalize %> participating in <%= @video.name %>? If yes, type in names in sign in sheet. Please don't forget to click submit sign in sheet even if you are the only one being trained.</p>
<%= render 'form' %>