<div class="heading">
  <h1>All Users</h1>
  <hr>
  <br>
  <p><%= link_to "Add a user", new_user_path, :class => "btn btn-large btn-success" %></p>
  <hr>
</div>
<div id="users">
  <%= render @users %>
</div>
<%= will_paginate @users %>