<div class="user">
  <div class="row">
    <div class="span9">
      <h1><%= @user.username %></h1>
      <p class="muted">Since <%= @user.created_at.strftime("%A, %b %-d %Y,%l:%M %p") %></p>
      <% if can? :manage, @user %>
        <div class="actions">
          <%= link_to "Account Settings", edit_user_path(@user) %>
          <%= link_to "Delete Account", @user, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>