<div class="tag">
  <div class="media">
    <%= link_to(image_tag(tag.thumbnail.thumbnail_url(:thumbnail), :class => "thumbnail"), tag, :class => "pull-left") if tag.thumbnail %>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to tag.name, tag %>
      </h4>
    </div>
  </div>
  <hr>
</div>