<h1><%= @tag.name %></h1>
<div class="actions">
  <%= link_to "Edit", edit_tag_path(@tag) %>
  <%= link_to "Destroy", @tag, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
</div>
<hr>

<div id="videos">
  <%= render @tag.videos %>
</div>