<div class="category">
  <div class="media">
    <%= link_to image_tag(category.thumbnail_url(:thumbnail), :class => "thumbnail"), category, :class => "pull-left" %>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to category.name, category %>
      </h4>
      <p><%= pluralize category.videos.count, 'video' %></p>
    </div>
  </div>
  <hr>
</div>