<div id="footer">
  <div class="row">
    <div class="span12 footer-top">
	    <div class="daas-logo pull-left">
	    	<a href="#" title="Department of Aging and Adult Services">
	    		<img src="/assets/daas.png" alt="Department of Aging and Adult Services">
	    	</a>
	    </div>
	    <div class="daas-description">
	    	 The Department of Aging and Adult Services (DAAS), is charged with planning, coordinating, providing, and advocating for community-based services for older adults and adults with disabilities. RTZ Associates provides access to these services by ensuring that the information is available online. With a strong working relationship, these partners are committed to providing the most current and accurate information on long-term services and supports in the Bay Area.
	    </div>
	    <div class="clearfix"></div>
	  </div>
	</div>
	<div class="row">
	  <div class="footer-bottom" role="about us">
	  	<div class="span4 pull-left">
	  		Copyright © 2013 All rights reserved.
	  	</div>
	  	<div class="span1 pull-left">
	  		<a href="http://rtzassociates.com/" title="about us">About Us</a>
	  	</div>
	  	<div class="span1 pull-left">
	  		<a href="#" title="contact">Contact</a>
	  	</div>
	  	<div class="span1 pull-left">
	  	  <a href="#" title="privacy">Privacy</a>
	  	</div>
	  	<div class="span4 pull-right">
	  		 Powered by <a href="http://rtzassociates.com/" title="RTZ Associates">RTZ</a>
	  	</div>
	  	<div class="clearfix"></div>
	  </div>
</div>